services:
  redis:
    image: redis:latest
    container_name: redis
    command: ["redis-server","--bind", "0.0.0.0",  "--requirepass", "redis123"]
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

volumes:
  redis_data:
  rabbitmq_data:
